<table>
        
     <tr>
        <td>
           { "id" : <%= quiz.id %> , </td>
            <td>"question" :<%= quiz.question %>, </td>
           <td>  "answer" : <%= quiz.answer %> }
        </td>
     </tr> 
  
</table>